
      <header>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <h1 class="view"><a href="/">Paul Chiusano</a></h1>
        <p>Functional programming, UX, tech, econ</p>
        <p>
          <a href="https://twitter.com/pchiusano">Twitter</a> •
          <a href="https://github.com/pchiusano">GitHub</a> • 
          <a href="https://www.linkedin.com/in/pchiusano">LinkedIn</a> • 
          <a href="/feed.xml">RSS</a>
        </p>
        <hr/>
        <h3>Consulting services</h3>
        <p>I offer <a href="/consulting-services">Scala and FP consulting services</a>. 
           If you're interested in working together, please <a href="mailto:paul.chiusano@stage-n.com">contact me</a>.
        </p>
        <hr/>
        <h3>About my book</h3> 
        <p>
          My book, <a href="http://www.amazon.com/Functional-Programming-Scala-Paul-Chiusano/dp/1617290653">Functional Programming in Scala</a>, 
          uses Scala as a vehicle for teaching FP.
          <a href="http://www.amazon.com/review/R3GALPJBA5GFLS/ref=cm_cr_dp_title?ie=UTF8&ASIN=1617290653&nodeID=283155&store=books">Read</a> 
          <a href="https://twitter.com/pk11/status/324137457517998080">what</a> 
          <a href="https://twitter.com/boia01/status/276202457674174466">people</a> 
          <a href="https://twitter.com/wfaler/status/279340228353863680">are</a> 
          <a href="https://twitter.com/tylerweir/status/305269648230862848">saying</a> 
          <a href="https://twitter.com/mrt1nz/status/350850253190217728">about</a> 
          <a href="http://www.amazon.com/review/R3GALPJBA5GFLS/ref=cm_cr_dp_title?ie=UTF8&ASIN=1617290653&nodeID=283155&store=books">it</a>.
        </p>
        <hr/>
        <h3>Popular links</h3>
        <p>
          <a href="http://www.manning.com/bjarnason/FPWS_CH01.pdf#page=4">What is FP? (book intro)</a><br/>
          <a href="/2013-05-22/future-of-software.html">The future of software</a><br/>
          <a href="/2013-09-10/type-systems-and-ux-example.html">Type systems and UX: an example</a><br/>
          <a href="/2014-07-02/css-is-unnecessary.html">CSS is unnecessary</a>
        </p>
      </header>
