
      <header>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <h1 class="view"><a href="/">Paul Chiusano</a></h1>
        <p>Functional programming, UX, tech, econ</p>
        <p>
          <a href="https://twitter.com/pchiusano">Twitter</a> •
          <a href="https://github.com/pchiusano">GitHub</a> • 
          <a href="https://www.linkedin.com/in/pchiusano">LinkedIn</a>
        </p>
        <hr/>
        <p>
          Feeds: <a href="/feed.xml">All</a>, <a href="/feed.fp.xml">FP</a>
        </p>
        <hr/>
        <h3>Consulting services</h2>
        <p>I offer <a href="/consulting-services">Scala and FP consulting services</a>. 
           If you're interested in working together, please <a href="mailto:paul.chiusano@stage-n.com">contact me</a>.
        </p>
        <hr/>
        <h3>About my book</h3> 
        <p>
          My book, <a href="manning.com/bjarnason">Functional Programming in Scala</a> is due out this summer, 
          though all chapters are currently available online for early subscribers.
          <a href="https://twitter.com/psnively/status/303901171142234113">Read</a> 
          <a href="https://twitter.com/pk11/status/324137457517998080">what</a> 
          <a href="https://twitter.com/boia01/status/276202457674174466">people</a> 
          <a href="https://twitter.com/wfaler/status/279340228353863680">are</a> 
          <a href="https://twitter.com/tylerweir/status/305269648230862848">saying</a> 
          <a href="https://twitter.com/mrt1nz/status/350850253190217728">about</a> 
          <a href="https://twitter.com/steshaw/status/458011349440667648">it</a>.
        </p>
      </header>
